* {
  margin: 0;
  --tc: #fff;
  --bc: #111;
  --hc: #22b14d;
  --cc: #313131;
  --cb:#ddd;
}

body {
  font: 18px -apple-system, BlinkMacSystemFont, sans-serif;
  line-height: 1.4;
  color: var(--tc);
  background: var(--bc);
  max-width: 36em;
  margin: 0 auto;
  padding: 0 0.7em;
  text-align: justify;
}

main {
  margin-bottom: 3em;
}

code {
  background: var(--cc);
  border: 1px solid var(--cb);
  border-radius: 3px;
  padding-left: 3px;
  padding-right: 3px;
  white-space: nowrap;
}

a {
  text-decoration: none;
  color: var(--hc);
}

a:hover {
  text-decoration: underline;
}

h2,
br,
header,
ul,
ol{
  margin-bottom: 1em;
}

ul, ol {
  padding-left: 1.7em;
}

.textbody {
  margin-top:1em;
}

br {
  content: " ";
  display: block;
}

/* navigation */
section,
section:target ~ section:last-of-type {
  display: none;
}

section:target,
section:last-of-type {
  display: inherit;
}
/* end navigation */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: 1.7em;
  font-weight: 700;
}

nav a {
  margin-left: 0.75em;
}

footer {
  text-align: center;
  padding: 20px;
  margin-top: 40px;
  font-size: 0.9em;
  color: var(--tc);
}

footer p {
  margin: 0;
}